body{
  background-color:#B40F1C;
}

.container{
  padding:40px;
  background-color:#fff;;
  border-radius:20px;
  margin:auto;
  text-align:center;
  width:700px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border:10px solid rgba(0,0,0,0.1);
  box-shadow:0 4px 15px rgba(0,0,0,0.3);
  transition:all 0.2s;
}

.container.container-appear{
  top:-100%;
}

.container.container-appear-active{
  top:50%;
  transition:all 1s ease-in;
}

p,h1,h2{
  margin:0;
  line-height:0;
  font-weight:normal;
}

p{
  line-height:26px;
  font-size:18px;
  margin-bottom:20px;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size:34px;
  margin-bottom:35px;
  line-height:38px;
  font-family: 'Shrikhand', cursive;
}

h2{
  font-size:24px;
  margin-bottom:20px;
  line-height:28px;
  font-family: 'Shrikhand', cursive;
}

button{
  border:0;
  background-color:#0F7542;
  color:#fff;
  font-size:24px;
  font-family: 'Montserrat', sans-serif;
  padding:6px 20px;
  border-radius:5px;
  cursor:pointer;
}

.word{
  font-size:30px;
  line-height:38px;
  margin:40px 0;
  color:#B40F1C;
}

.results{
  margin-top:40px;
  text-align:left;
  background-color:rgba(0,0,0,0.1);
  padding:25px;
  border-radius:10px;
}

.results ul{
  list-style:none;
  margin:0;
  padding:0;
  font-family: 'Montserrat', sans-serif;
  line-height:24px;
}

.results ul li{
  display:inline-block;
  margin-right:25px;
}

.results ul li i{
  margin-right:4px;
  color:#4099FF;
}

.results ul li a{
  color:#4099FF;
}

.input{
  font-family: 'Montserrat', sans-serif;
  font-size:30px;border:2px solid rgba(0,0,0,0.1);
  border-radius:5px;
  padding:4px 8px;
  background-color:rgba(0,0,0,0.075);
  margin-bottom:15px;
}

.created-by{
  position:absolute;
  bottom:10px;
  text-align:center;
  width:100%;
  margin:0;
  padding:0;
  left:0;
  font-size:11px;
  color:#fff;
}

.created-by a{
  color:#fff;
}